.wrapper {
  padding: $spacing;
  min-height: 100vh;
  overflow: hidden;

  .wrapper__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .wrapper__content {
      text-align: center;
      @include med;
    }

    .heading--large {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 4rem;
      margin: 0;
      transform: translateX(-100%);
    }

    .text--small {
      font-size: $font-size;
      margin: 0;
      line-height: 2.5;
      transform: translateX(-100%);
    }

    .content--left {
      flex: 1 1 40%;
      order: 1;
    }

    .content--right {
      flex: 1 1 60%;
      order: 2;
    }

    .wrapper__image {
      display: block;
      width: 100%;
      transform: translateX(100%);
      border-radius: 18px;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.8);
    }
  }
}

.icons {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  .fas {
    position: absolute;
    top: -25%;
    color: white;
  }
}
